# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
firebase.js
frontend/package-lock.json

# Backend
backend/venv/
backend/__pycache__/
backend/.env

# General OS files
.DS_Store
Thumbs.db
backend/.env
